@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700");

:root {
  --primary-color: #1a1975;
  --secondary-color: #b9cee1;
  --gray-color: #e7e5e1;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 13pt;
  line-height: 1.5em;
  color: #676d79;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  letter-spacing: -0.1rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color);
}

ul {
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

#wrapper {
  height: 100vh;
  background: url(../img/background.svg) 50% 17vh no-repeat,
    radial-gradient(var(--secondary-color), #ffffff) 0px 0px no-repeat;
}

#header nav {
  padding: 25px;
}

#header nav .logo {
  width: 75px;
  height: 50px;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border: 2px solid var(--primary-color);
  box-shadow: 7px 8px 0px 0px var(--secondary-color);
  color: var(--primary-color);
  background: 50% no-repeat,
    radial-gradient(var(--secondary-color), #ffffff) 0px 0px no-repeat;
}

#bio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#bio h3 {
  color: var(--primary-color);
  margin-bottom: 0;
  font-size: 2rem;
}

#bio .more-information {
  margin: 50px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#bio .wave {
  animation-name: wave-animation;
  animation-duration: 2s;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.download-button {
  padding: 15px 25px;
  color: #1a1875;
  font-weight: 600;
  border: 1px solid #1a1875;
  background-color: #ffffff;
}

.social-media {
  margin-top: 25px;
  text-align: left;
}

.social-media ul li {
  display: inline-block;
  margin-right: 25px;
}

.social-media ul li a {
  font-size: 30px;
  color: #1a1875;
}

#footer {
  bottom: 0;
  cursor: default;
  left: 0;
  line-height: 8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

#footer p {
  color: #000000;
  margin-bottom: 0;
}

@media (min-width: 400px) {
}

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }

  #header nav .logo {
    width: 100px;
    height: 75px;
    font-size: 37px;
  }

  #bio h3 {
    font-size: 2.5rem;
  }

  #bio .more-information {
    margin: 50px 0 0;
    flex-direction: column;
  }

  .social-media {
    margin-top: 25px;
    text-align: left;
  }
}

@media (min-width: 550px) {
  .container {
    width: 80%;
  }

  #bio h3 {
    font-size: 2.8rem;
  }

  .social-media {
    margin-top: 0;
    text-align: right;
  }

  #bio .more-information {
    margin: 50px 0 0;
    flex-direction: row;
  }
}

@media (min-width: 750px) {
  #bio h3 {
    font-size: 3rem;
  }
}

@media (min-width: 1000px) {
  #bio h3 {
    font-size: 3.3rem;
  }
}

@media (min-width: 1200px) {
  #bio h3 {
    font-size: 3.6rem;
  }
}
