@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');

:root {
    --background-color: #121828;
    --text-color: #a8d4fc;
    --editor-bg-color: #1e1e1e;
    --line-number-color: #858585;
    --code-area-color: #729a54;
    --selection-text-color: black;
    --selection-bg-color: white;
    --font-size: 16px;
    --editor-font-size: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Fira Code', monospace;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size);
}

.editor {
    display: flex;
    height: 100%;
}

.content {
    flex-grow: 1;
    display: flex;
}

.line-numbers {
    background-color: var(--editor-bg-color);
    color: var(--line-number-color);
    padding: 10px;
    text-align: start;
    user-select: none;
}

.line-number {
    padding: 0 5px;
    font-size: var(--editor-font-size);
}

.code-area {
    background-color: var(--editor-bg-color);
    color: var(--code-area-color);
    flex-grow: 1;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;
    font-size: var(--editor-font-size);
}

.code-area::selection {
    color: var(--selection-text-color);
    background-color: var(--selection-bg-color);
}